body {
    background-color: teal;
    font-family: sans-serif;
}

.square {
    display: inline-block;
    width: 6.65%;
    height: 60px;
    border: thin solid black;
    vertical-align: top;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    img {
        width: 100%;
        height: 60px;
    } 
}

.triple-word {
    background-color: red;
}

.double-word {
    background-color: pink;
}

.triple-letter {
    background-color: purple;
}

.double-letter {
    background-color: aqua;
}

.empty {
    background-color: white;
}

.exchange-candidate {
    border: thick solid gold;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}